footer {
  background-color: var(--LIGHT-PINK);
  display: flex;
  border-radius: 20px 20px 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  font-family: var(--TEXT-FONT);
  font-weight: 600;
}

.footer__logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer__logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo-container img {
  width: 230px;
}

.footer__logo-container img:hover {
  filter: invert(66%) sepia(42%) saturate(347%) hue-rotate(314deg)
    brightness(94%) contrast(92%);
}

.footer__logo-socials {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.footer__logo-socials img {
  width: 40px;
  filter: invert(24%) sepia(17%) saturate(491%) hue-rotate(139deg)
    brightness(92%) contrast(88%);
  margin-right: 30px;
}

.footer__logo-socials img:hover {
  filter: invert(83%) sepia(14%) saturate(509%) hue-rotate(14deg)
    brightness(94%) contrast(83%);
}

.footer__logo-socials img:first-child {
  margin-left: 30px;
}

.footer__nav {
  flex: 1;
}

.footer__nav ul {
  list-style: none;
  line-height: 30px;
}

.footer__nav a {
  text-decoration: none;
  color: var(--TEXT-COLOR);
}

.footer__nav a:hover {
  color: var(--DARK-ORANGE);
  text-decoration: underline;
}
